/* Body and General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray background color */
    color: #333; /* Text color */
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #060606; /* Dark gray background color */
    color: #fff; /* Header text color */
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    color: #ccc; /* Subdued text color */
}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fbf9f9;
    text-decoration: none;
}

nav ul li a:hover {
    color: #150ef5; /* Change color on hover */
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Section title color */
}

p {
    font-size: 16px;
    line-height: 1.5; /* Increase line spacing for readability */
}

ul {
    list-style-type: none;
}

li {
    font-size: 16px;
    margin-bottom: 5px;
}
/* CSS for Education Section */
#education {
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 10px;
}

#education h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Section title color */
}

#education ul {
    list-style-type: none;
}

#education li {
    font-size: 16px;
    margin-bottom: 5px;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333; /* Dark gray background color */
    color: #fff; /* Footer text color */
}

/* Project Styling */
.project {
    border: 2px solid #ccc; /* Light gray border */
    padding: 20px;
    border-radius: 10px;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333; /* Project title color */
}

